.App {
  background-color: black;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.pinimg.com/736x/d6/7a/51/d67a516fb1daeb12598a652a10376958.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

main {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  margin-top: 350px;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}