.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://de.imageservice.sky.com/pcms/42670394-6e12-11ec-9626-2f6e93037b56/AGG_SOURCE?territory=DE&proposition=SKYQ&language=ger');
  background-size: cover;
  background-position: center;
  color: white;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  margin-top: 500px;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}